{% extends '::base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <div class="container">
        <h1>Orders
            <a href="{{ path('order_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </h1>

        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Number views', 'o.numberViews') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Viewed', 'u.viewed') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for order in pagination %}
            <tr>
                <td>{{ order.username }}</td>
                <td>{{ order.email }}</td>
                <td>
                    <a href="{{ path('order_edit', {id: order.id}) }}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                    {# Delete form #}
                    {{ form_start(forms[order.id]) }}
                    {{ form_widget(forms[order.id]) }}
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    {{ form_end(forms[order.id]) }}
                    {# End delete form #}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation" align="center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.asc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet"></span>');
        $('.desc').prepend('<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>');
    </script>
{% endblock %}